<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.veganapp">

    <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDNRCh_1b6BsN3UpeDNAz2Jl37KuHZ48qo" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@drawable/freefrom_app_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".NewDiet"></activity>
        <activity
                android:name=".DietList"
                android:label="@string/title_activity_diet_list"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.veganapp.MainActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".OpinionActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ShareActivity" />
        <activity android:name=".FavouriteActivity" />
        <activity
                android:name=".LoadingActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="FreeFrom"
                android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>