<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.veganapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@drawable/freefrom_app_icon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/freefrom_app_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".ShowRouteMockActivity"></activity>
        <activity android:name=".Search" />

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false" />

        <activity android:name=".RestaurantActivity" />
        <activity
                android:name=".EditDiet"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".NewDiet"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".DietList"
                android:label="@string/title_activity_diet_list"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.veganapp.MainActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".OpinionActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ShareActivity" />
        <activity android:name=".FavouriteActivity" />
        <activity
                android:name=".LoadingActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="FreeFrom"
                android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDNRCh_1b6BsN3UpeDNAz2Jl37KuHZ48qo" />
    </application>

</manifest>